<section class="panel panel-primary">
  <section class="panel-heading">
    <h3 class="panel-title">Administration</h3>
  </section>
  <section class="panel-body">
    <ul class="list-inline">
      <li>
        <a href="<%= new_team_player_path(@team) %>">
          <i class="fa fa-plus"></i>
          Add Player
        </a>
      </li>
      <li>
        <a href="<%= edit_team_path(@team) %>">
          <i class="fa fa-edit"></i>
          Edit
        </a>
      </li>
      <li>
        <%= link_to content_tag(:i, " ", class: "fa fa-trash-o") << "Delete", team_path(@team), method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    </ul>
  </section>
</section>