<% provide(:title, 'Cookies') %>

<% content_for(:extra_meta) do %>
<meta name="robots" content="noindex">
<% end %>
<section id="cookies">
  <header class="page-header">
    <h1>Cookies</h1>
  </header>
  <section class="static-info">
    <article>
      <h2>¿Qué Son?</h2>
      <p>
        Las cookies son pequeños archivos de texto que son descargados en tu ordenador, tablet o móvil cuando visitas un sitio web o una aplicación. El sitio web o aplicación pueden obtener estas cookies de tu navegador(p. ej. Google Chrome, Mozilla Firefox o Internet Explorer) cada vez que se produce una visita, así pueden reconocerte, recordar tus preferencias y proporcionarte una mejor experiencia.
      </p>
      <p>
        Generalmente, las cookies son muy útiles y son un método común usado por casi todo sitio web que visitas, porque les ayuda a hacer tu experiencia online más fluida. Por razones de seguridad, algunos sitios webs no funcionarán sin el uso de cookies o de tecnologías similares.
      </p>
      <p>
        Las cookies, por lo general, no tienen ninguna información que permita identificar a una persona individual, sino que se utilizan para identificar un navegador en una máquina individual.
      </p>
      <p>
        Si lo prefiere, puede restringir, bloquear o eliminar las cookies modificando la configuración del navegador, pero esto puede ocasionar que el sitio web no funcione correctamente.
      </p>
      <p>
        Para obtener más información acerca de las cookies y su impacto en su navegación visita <%= link_to 'http://www.aboutcookies.org', 'www.aboutcookies.org' %>.
      </p>
    </article>
    
    <article>
      <h2>TIPOS DE COOKIES</h2>
      <h2>Cookies técnicas</h2>
      <p>
        Estas cookies son esenciales para ayudarte a hacer uso de las funciones y servicios que ofrecemos en <%= link_to "Las Notas de Brasil 2014", root_path %>. Sin estas cookies, los servicios que desea utilizar no podrán ser proporcionados. Estas cookies no recopilan información sobre ti que puedan ser utilizadas identificarte, y no monitorizan o hacen seguimiento de dónde has estado en Internet.
      </p>

      <h2>Cookies de personalización</h2>
      <p>
        Estas cookies nos permiten ofrecerte una mejor experiencia online cuando utilizas nuestro sitio web. Las cookies no recogen ni almacenan ninguna información que nos permita identificarte personalmente.
      </p>

      <h2>Cookies de análisis</h2>
      <p>
        Las cookies de análisis nos ayudan a comprender cómo nuestros clientes utilizan nuestro sitio, así podemos mantener nuestros productos y servicios apropiados, fáciles de usar y actualizados. Por ejemplo, podemos ver qué productos y servicios son los más populares, identificar cuándo y dónde se producen errores, y probar diferentes versiones de una página con el fin de proporcionar una experiencia online mejorada.
      </p>
      <p>
        A veces, los servicios que utilizamos para recopilar esta información pueden ser operados por otras compañías en nuestro nombre. Pueden utilizar tecnologías similares a las cookies, conocidas como "web beacons" o "etiquetas". Estas son anónimas y, ya que sólo se utilizan con fines estadísticos, no contienen ni recogem ninguna información que te identifique.
      </p>
    </article>
  
    <article>
      <h2>ADMINISTRACIÓN DE COOKIES</h2>
      <p>
        La mayoría de navegadores te permiten borrar las cookies de tu disco duro, bloquearlas todas (ó sólo las de terceros) o advertirte antes de que una cookie sea almacenada en tu dispositivo.
      </p>
      <p>
        Tenga en cuenta que si decide bloquear todas las cookies, nuestro sitio no podrá funcionar según lo previsto y que no serás capaz de utilizar o tener acceso a muchos de los servicios que ofrecemos. Si ha bloqueado todas las cookies y desea de hacer un uso completo de las características y servicios que ofrecemos, necesitarás habilitar las cookies. Puedes hacer esto en tu navegador (ver abajo).
      </p>
      <p>
        En lugar de bloquear todas las cookies, puede optar por sólo bloquear las cookies de terceros que todavía permita nuestro sitio web funcione como es debido
      </p>
      
      <h2>Cómo administrar las cookies en tu PC</h2>
      <p>
        Para habilitar las cookies en nuestro sitio web, sigue las siguientes instrucciones.
      </p>

      <h3>Google Chrome</h3>
      <ol>
        <li>Haz click en "Herramientas" en la parte superior de tu navegador y seleccione "Configuración".</li>
        <li>Haz click en "Mostrar opciones avanzadas", desplázate hacia abajo hasta la sección "Privacidad" y haga click en "Configuración de contenido".</li>
        <li>Selecciona "Permitir que se almacenen datos locales". Para aceptar sólo las cookies de primeros, selecciona la casilla junto a "Bloquear los datos de sitios y las cookies de terceros".</li>
      </ol>

      <h3>Microsoft Internet Explorer 6.0, 7.0, 8.0, 9.0</h3>
      <ol>
        <li>Haz click en el botón "Herramientas", luego en "Opciones de Internet" y por último en la pestaña "Privacidad".</li>
        <li>Comprueba que el nivel de privacidad está en nivle medio o inferior, que permitirá el uso de cookies en tu navegador.</li>
        <li>Si está configurado en un nivel superior a medio, no será posible el uso de cookies.</li>
      </ol>

      <h3>Mozilla Firefox</h3>
      <ol>
        <li>Haz click en "Herramientas" en la parte superior de su navegador y seleccione "Opciones".</li>
        <li>Selecciona el icono de "Privacidad"</li>
        <li>Haz click en las "Cookies" y selecciona "Permitir a las páginas para crear una cookie."</li>
      </ol>

      <h3>Safari</h3>
      <ol>
        <li>Haz click en el icono de preferencias en la parte superior de su navegador y seleccione "Configuración".</li>
        <li>Haz click en la pestaña "Privacidad", luego selecciona la opcion "Desactivar el uso de cookies de terceros y cookies de publicidad"."</li>
        <li>Haz click en "Guardar".</li>
      </ol>

      <h2>Cómo administrar las cookies en tu Mac</h2>
      <p>Para habilitar las cookies en nuestro sitio web, sigue las siguientes instrucciones.</p>
      <h3>Microsoft Internet Explorer 5.0 en OSX</h3>
      <ol>
        <li>Haz click en "Explorer" en la parte superior de su navegador y seleccione "Configuración".</li>
        <li>Desplázate hacia abajo a la sección de "Cookies" en los "Archivos recibidos".</li>
        <li>Selecciona "No preguntar"</li>
      </ol>
      <h3>Safari en OSX</h3>
      <ol>
        <li>Haz click en "Safari" en la parte superior de tu navegador y selecciona "Preferencias".</li>
        <li>Selecciona "Bloquear cookies y otros datos de sitios web de publicidad y terceros".</li>
      </ol>
      <h3>Mozilla and Netscape on OSX</h3>
      <ol>
        <li>Haz click en "Mozilla" o "Netscape" en la parte superior de tu navegador y seleccione "Preferencias".</li>
        <li>Desplázate hacia abajo a la sección de "Cookies" debajo de "Privacidad y Seguridad".</li>
        <li>Selecciona "Permitir cookies sólo del sitio original".</li>
      </ol>
      <h3>Opera</h3>
      <ol>
        <li>Haz click en "Menu" en la parte superior de tu navegador y selecciona "Preferencias".</li>
        <li>Selecciona la pestaña "Opciones" y luego "Avanzadas".</li>
        <li>Selecciona "Habilitar cookies".</li>
      </ol>
    </article>
  </section>
</section>