<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger fade in">

      <% hash_errors =object.errors.to_hash(true) %>
      <% keys = hash_errors.keys %>

      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      El formulario contiene los siguientes errores:
      <ul class="fa-ul">
      <!-- Avoid displaying several errors for the same field -->
      <% hash_errors = object.errors.to_hash(true) %>
      <% keys = hash_errors.keys %>
      <% keys.each do |key| %>
        <li>
          <i class="fa fa-li fa-chevron-right"></i> <%= hash_errors[key].first %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
<% else %>
"MALAKAKAKAAAAAAA"
<% end %>