<div class="modal fade in" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="signInModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="jumbotron text-center">
      <h1>Las Notas de Brasil 2<span class="maki-soccer"></span>14</h1>
      <p>¡Bienvenido! Inicia sesión con tu cuenta de Twitter, comienza a evaluar la actuación de los jugadores en la Copa del Mundo Brasil 2014 y comparte tus impresiones con tus amigos.</p>
      <p>
        <a href="/auth/twitter" class="btn btn-info btn-lg" role="button">
          <i class="fa fa-twitter"></i> Entrar con Twitter
        </a>
        <button type="button" class="btn primary-green btn-lg" data-dismiss="modal">Close</button>
      </p>
    </div>
  </div>
</div>