<% if !signed_in? or (rating = Rating.where(performance_record_id: record.id, user_id: current_user.id).first).nil? %>
  <%= form_tag(game_performance_record_ratings_path(game, record), remote: true, class: 'form-inline', role: 'form' ) do %>
  <div class="input-group">
    <input class="form-control input-sm" id="rating_rating" max="10" min="0" name="rating[rating]" type="number" placeholder="Nota">
    <span class="input-group-btn">
      <%= submit_tag('Votar', class: 'btn btn-default btn-sm') if signed_in? %>
      <% unless signed_in? %>
        <button class="btn primary-green btn-sm" data-toggle="modal" data-target="#signin-modal">
        Votar
        </button>
      <% end %>
    </span>
  </div>
  <% end %>
<% else %>
  <%= render 'ratings/rating', rating: rating %>
<% end %>