<section class="panel panel-primary">
  <section class="panel-heading">
    <h3 class="panel-title">Administration</h3>
  </section>
  <section class="panel-body">
    <ul class="list-inline">
      <li>
        <a href="<%= new_game_path %>">
          <i class="fa fa-plus"></i>
          New Game
        </a>
      </li>
    </ul>
  </section>
</section>