// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rated-game {
  margin: 30px;
  border-bottom: 1px solid #eee;
  padding: 15px 0;  
}