<section class="footer text-center">
  <ul class="list-inline">
    <li>
      Flags from
      <%= link_to 'BannerFlow', 'http://www.bannerflow.com' %>
    </li>
    <li>
       © Las Notas de Brasil 2014 by <%= link_to "Antonio Borrero Granell", "http://linkedin.com/in/antoniobg87" %>
    </li>
  </ul>
</section>